VistaCliente/web/WEB-INF/wsdl/localhost_8080/Servidor/ProcesoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="deposito" type="tns:deposito"/>

<xs:element name="depositoResponse" type="tns:depositoResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="registrar" type="tns:registrar"/>

<xs:element name="registrarResponse" type="tns:registrarResponse"/>

<xs:element name="retiro" type="tns:retiro"/>

<xs:element name="retiroResponse" type="tns:retiroResponse"/>

<xs:complexType name="registrar">
<xs:sequence>
<xs:element name="usuario" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="saldo" type="xs:int"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="usuarios" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deposito">
<xs:sequence>
<xs:element name="numero" type="tns:retirardepositar" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retirardepositar">
<xs:sequence>
<xs:element name="usua" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depositoResponse">
<xs:sequence>
<xs:element name="return" type="tns:retirardepositar" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retiro">
<xs:sequence>
<xs:element name="numero" type="tns:retirardepositar" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retiroResponse">
<xs:sequence>
<xs:element name="return" type="tns:retirardepositar" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>