VistaCliente/src/conf/xml-resources/web-service-references/ProcesoWS/wsdl/localhost_8080/Servidor/ProcesoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="ProcesoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Servidor/ProcesoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="retiro">
<part name="parameters" element="tns:retiro"/>
</message>
<message name="retiroResponse">
<part name="parameters" element="tns:retiroResponse"/>
</message>
<message name="registrar">
<part name="parameters" element="tns:registrar"/>
</message>
<message name="registrarResponse">
<part name="parameters" element="tns:registrarResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="deposito">
<part name="parameters" element="tns:deposito"/>
</message>
<message name="depositoResponse">
<part name="parameters" element="tns:depositoResponse"/>
</message>
<portType name="ProcesoWS">
<operation name="retiro">
<input wsam:Action="http://ws/ProcesoWS/retiroRequest" message="tns:retiro"/>
<output wsam:Action="http://ws/ProcesoWS/retiroResponse" message="tns:retiroResponse"/>
</operation>
<operation name="registrar">
<input wsam:Action="http://ws/ProcesoWS/registrarRequest" message="tns:registrar"/>
<output wsam:Action="http://ws/ProcesoWS/registrarResponse" message="tns:registrarResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://ws/ProcesoWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws/ProcesoWS/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="deposito">
<input wsam:Action="http://ws/ProcesoWS/depositoRequest" message="tns:deposito"/>
<output wsam:Action="http://ws/ProcesoWS/depositoResponse" message="tns:depositoResponse"/>
</operation>
</portType>
<binding name="ProcesoWSPortBinding" type="tns:ProcesoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retiro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deposito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProcesoWS">
<port name="ProcesoWSPort" binding="tns:ProcesoWSPortBinding">
<soap:address location="http://localhost:8080/Servidor/ProcesoWS"/>
</port>
</service>
</definitions>